<!doctype html>
<html>
  <head>
    <title>
      {% block page_title %}Home{% endblock %} | My Event App
    </title>

    {% block head %}{% endblock %}

  </head>
  <body>
    <h1>Home</h1>

  <div>
    <a href="{{url_for('homePage')}}">Home</a> |
    <a href="{{url_for('createEvent')}}">Create Event</a> |
    <a href="{{url_for('categoryCreate')}}">Create Category</a> |
    <a href="{{url_for('allCategories')}}">All Categories</a> |
    <a href="{{url_for('recent_atom')}}">Atom</a> |
    <a href="{{url_for('showLogin')}}">Login</a>
  </div>
  <hr>

  {% block content %}{% endblock %}

  </body>
</html>
