{% extends 'base.html' %}

{% block page_title %}
  {{event.title}}
{% endblock %}


{% block content %}

  <div class="row event-page">
    <div class="col-sm-12 title-container">
      <a href="{{ url_for('homePage') }}">Events</a> > <a href="{{url_for('categoryPage', category_id=event.category_id)}}">{{event.category.name}}</a>
      <h2>{{event.title}}</h2>
      <small>Created by <a href="{{ url_for('userPage', user_id=event.creator.id) }}">{{event.creator.username}}</a> | <a href="/event/{{event.id}}/JSON/">Event JSON</a></small>
    </div>

    <div class="row">
      <div class="col-sm-12">
        {% if event_images %}
          {% for img in event_images %}
            <img src="/{{img.serving_url}}" alt="" width="100%">
          {% endfor %}
        {% else %}
        <div class="row image-upload-container">
          <div class="col-sm-8">
            <h4>You can upload an image for your event.</h4>
            <img src="/static/images/img-placeholder.jpg" alt="Upload image">
          </div>
          <div class="col-sm-4">
            <form action="/upload/{{event.id}}/" method="post" enctype="multipart/form-data" id="event_image_upload_form">
              <input type="hidden" name="_csrf_token" value="{{ generate_csrf_token() }}">
              <input type="file" name="file">
              <input type="submit" value="Upload Image">
             </form>
          </div>
        </div>

        {% endif %}
      </div>
    </div>

    <div class="col-sm-12">
      <section>
        <h3>Description</h3>
        <p>{{event.description}}</p>
      <div class="row">
        <div class="col-xs-12">
          <hr>
          <a href="/event/{{event.id}}/edit/">Edit Event</a> | <a href="/event/{{event.id}}/delete/">Delete Event</a>
        </div>
      </div>
      </section>

    </div>

  </div>

{% endblock %}



