{% extends 'base.html' %}

{% block page_title %}
  Create Event
{% endblock %}


{% block content %}

  <div class="flash">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for msg in messages %}
          <li>{{msg}}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>


  <form action="/event/create/" method="POST">
    <input type="text" name="title" placeholder="Event Title"/> <br>
    <textarea name="description" cols="30" rows="10"></textarea>

    {% for cat in categories %}
      <label><input type="radio" name="category_id" value="{{cat.id}}">{{cat.name}}</label><br>
    {% endfor %}

    <input type="submit" value="Create Event">
  </form>
{% endblock %}
