{% extends 'base.html' %}

{% block page_title %}
  Edit Event
{% endblock %}


{% block content %}

  <form action="#" method="post">
    <input type="hidden" name="_csrf_token" value="{{ generate_csrf_token() }}">

    <label for="event-title">Title</label><br>
    <input type="text" name="title" id="event-title" value="{{event.title}}" placeholder="Event Title"/>
    <br><br>

    <label for="event-description">Description</label><br>
    <textarea name="description" id="event-description" cols="30" rows="10">{{event.description}}</textarea>

    <br><br>

    <label for="">Select a Category</label><br>
    {% for cat in categories %}
      <label><input type="radio" name="category_id" value="{{cat.id}}" {% if event.category_id == cat.id%}checked{% endif %}> {{cat.name}}</label> <br>
    {% endfor %}

    <input type="submit" value="Save Event">
  </form>
{% endblock %}
